{{!-- modiusers.handlebars --}}
<h1 style="color:white">Real Time Users</h1>
<h2 style="color:white">USUARIOS administrados en tiempo real</h2>
<h3 style="color:white" id="role">{{role}}</h3>
<h3 style="color:white" id="email">{{email}}</h3>

<div id="contenedorUsuarios"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/realtimeu.js"></script>

<style>